//Varaibles

$lightBlack: #363636;
$black:#252525;
$darkBlack: #121212;
$red: #CC0000;

//Settings

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Nav

@import 'sass/nav';

//Main

@import 'sass/main';

//Media

@import 'sass/media';